// colors:
$one: #DEE2E6;
$two: #CED4DA;
$three: #ADB5BD;
$four: #6C757D;
$five: #495057;
$six: #343A40;
$seven: #212529;

// overide
$primary: $three;
$success: $two;
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $seven;
}
// Home.js main row
.mainrow1 {
  border: 1px solid black;
  // display: flex;
  // align-items: stretch;
  // position: absolute;
  min-height: 100vh;
  min-width: 140vh;
}
// // Home.js main col
.maincol1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

}
.csitem1, .csitem2, .csitem3 {
  top: 40%;
}
.navbar1 {
  opacity: 0.5;
}
.entrytitle1 {
  color: $two;
}
.entrystatus {
  color: $two;
}
.entrydata1 {
  color: $two;
}
.entrylabel1 {
  font-weight: bold;
}
.entrybox1 {
  border: 1px $two solid;
}
